body {
  max-width: 960;
  margin: auto;
  background-color: black;
  text-align: center;
} 

pre {
  text-align: center;
  color: white;
  font-size: large;
  font-style: italic;
  font-weight: bold;
}

table {
  margin-left: auto;
  margin-right: auto;
}

td {
  text-align: right;
  color: lightcoral;
  height: 49;
}

a {
  color: hotpink;
  text-decoration: underline;
}

hr {
  width: 956;
}
